.banner {
  background: var(--background-banner);
  border-color: var(--border-color-banner);
  border-radius: var(--border-radius-banner);
  border-style: solid;
  border-width: var(--border-width-banner);
  box-shadow: 0 5px var(--size-banner-shadow) -4px var(--color-banner-shadow);
  margin-left: var(--space-x-small-breakpoint-container);
  margin-right: var(--space-x-small-breakpoint-container);
  position: relative;
  text-align: var(--horizontal-alignment-banner);

  @media (width >= 768px) {
    margin-left: var(--space-x-medium-breakpoint-container);
    margin-right: var(--space-x-medium-breakpoint-container);
  }

  @media (width >= 992px) {
    margin-left: var(--space-x-large-breakpoint-container);
    margin-right: var(--space-x-large-breakpoint-container);
    max-width: var(--max-width-container-large);
  }

  @media (width >= 1200px) {
    max-width: var(--max-width-container-extralarge);
  }

  @media (width >= 1300px) {
    margin-left: auto;
    margin-right: auto;
  }

  .banner-inner {
    align-items: center;
    column-gap: var(--gap-banner);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--space-y-small-breakpoint-banner) var(--space-x-small-breakpoint-banner);

    @media (width >= 768px) {
      padding: var(--space-y-medium-breakpoint-banner) var(--space-x-medium-breakpoint-banner);
    }

    @media (width >= 992px) {
      padding: var(--space-y-large-breakpoint-banner) var(--space-x-large-breakpoint-banner);
    }

    .banner-text {
      color: var(--color-banner-text);
      flex-grow: 1;
      font-size: var(--size-small-breakpoint-banner-text);
      font-weight: var(--weight-banner-text);
      line-height: var(--line-height-small-breakpoint-banner-text);
      margin-bottom: var(--space-y-block-small-breakpoint-banner-text);

      @media (width >= 768px) {
        font-size: var(--size-medium-breakpoint-banner-text);
        line-height: var(--line-height-medium-breakpoint-banner-text);
        margin-bottom: var(--space-y-block-medium-breakpoint-banner-text);
      }

      @media (width >= 992px) {
        font-size: var(--size-large-breakpoint-banner-text);
        line-height: var(--line-height-large-breakpoint-banner-text);
        margin-bottom: var(--space-y-block-large-breakpoint-banner-text);
      }
    }

    .banner-icon {
      align-items: center;
      background: var(--background-banner-icon);
      border-color: var(--border-color-banner-icon);
      border-radius: var(--border-radius-banner-icon);
      border-style: solid;
      border-width: var(--border-width-banner-icon);
      box-shadow: 0 1px var(--size-banner-icon-shadow) 0 var(--color-banner-icon-shadow);
      display: flex;
      height: var(--size-banner-icon);
      justify-content: center;
      width: var(--size-banner-icon);

      @media (width <= 991.98px) {
        display: none;
      }

      & svg {
        color: var(--color-banner-icon);
      }
    }

    .banner-action {
      flex-grow: 1;

      @media (width >= 992px) {
        flex-grow: 0;
      }
    }
  }
}
