:root {
  --size-large-breakpoint-checkbox-label: var(--size-large-breakpoint-form);
  --size-medium-breakpoint-checkbox-label: var(--size-medium-breakpoint-form);
  --size-small-breakpoint-checkbox-label: var(--size-small-breakpoint-form);
}

.checkbox {
  color: var(--color-checkbox);
  position: relative;
  transition: all 0.3s;

  & label {
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
  }

  .checkbox-label {
    color: var(--color-checkbox-label);
    display: flex;
    font-size: var(--size-small-breakpoint-checkbox-label);
    padding: var(--space-y-small-breakpoint-checkbox) var(--space-x-small-breakpoint-checkbox);

    @media (width >= 768px) {
      font-size: var(--size-medium-breakpoint-checkbox-label);
      padding: var(--space-y-medium-breakpoint-checkbox) var(--space-x-medium-breakpoint-checkbox);
    }

    @media (width >= 992px) {
      font-size: var(--size-large-breakpoint-checkbox-label);
      padding: var(--space-y-large-breakpoint-checkbox) var(--space-x-large-breakpoint-checkbox);
    }
  }

  .checkbox-icon {
    height: var(--size-checkbox-icon);
    position: relative;
    width: var(--size-checkbox-icon);

    &::after {
      background-color: var(--color-checkbox-icon);
      content: '';
      display: block;
      height: var(--size-small-breakpoint-checkbox-icon);
      -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23D2D6DB' d='M14 18H4c-2.21 0-4-1.79-4-4V4c0-2.21 1.79-4 4-4h10c2.21 0 4 1.79 4 4v10c0 2.21-1.79 4-4 4M4 1C2.35 1 1 2.35 1 4v10c0 1.65 1.35 3 3 3h10c1.65 0 3-1.35 3-3V4c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23D2D6DB' d='M14 18H4c-2.21 0-4-1.79-4-4V4c0-2.21 1.79-4 4-4h10c2.21 0 4 1.79 4 4v10c0 2.21-1.79 4-4 4M4 1C2.35 1 1 2.35 1 4v10c0 1.65 1.35 3 3 3h10c1.65 0 3-1.35 3-3V4c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
      min-width: var(--size-small-breakpoint-checkbox-icon);
      width: var(--size-small-breakpoint-checkbox-icon);

      @media (width >= 768px) {
        height: var(--size-medium-breakpoint-checkbox-icon);
        min-width: var(--size-medium-breakpoint-checkbox-icon);
        width: var(--size-medium-breakpoint-checkbox-icon);
      }

      @media (width >= 992px) {
        height: var(--size-large-breakpoint-checkbox-icon);
        min-width: var(--size-large-breakpoint-checkbox-icon);
        width: var(--size-large-breakpoint-checkbox-icon);
      }
    }
  }

  & input[type='checkbox'] {
    cursor: pointer;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 5px;

    &:checked + .checkbox-icon::after {
      background-color: var(--color-checkbox-icon-checked);
      content: '';
      display: block;
      height: var(--size-small-breakpoint-checkbox-icon);
      -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%232E90FA' d='M14 0H4C1.79 0 0 1.79 0 4v10c0 2.21 1.79 4 4 4h10c2.21 0 4-1.79 4-4V4c0-2.21-1.79-4-4-4M2.96 8.29a.996.996 0 0 1 1.41 0L7 10.92l6.63-6.63a.996.996 0 1 1 1.41 1.41l-7.33 7.33c-.2.2-.45.29-.71.29s-.51-.1-.71-.29L2.96 9.7a.996.996 0 0 1 0-1.41'/%3E%3C/svg%3E");
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%232E90FA' d='M14 0H4C1.79 0 0 1.79 0 4v10c0 2.21 1.79 4 4 4h10c2.21 0 4-1.79 4-4V4c0-2.21-1.79-4-4-4M2.96 8.29a.996.996 0 0 1 1.41 0L7 10.92l6.63-6.63a.996.996 0 1 1 1.41 1.41l-7.33 7.33c-.2.2-.45.29-.71.29s-.51-.1-.71-.29L2.96 9.7a.996.996 0 0 1 0-1.41'/%3E%3C/svg%3E");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
      min-width: var(--size-small-breakpoint-checkbox-icon);
      width: var(--size-small-breakpoint-checkbox-icon);

      @media (width >= 768px) {
        height: var(--size-medium-breakpoint-checkbox-icon);
        min-width: var(--size-medium-breakpoint-checkbox-icon);
        width: var(--size-medium-breakpoint-checkbox-icon);
      }

      @media (width >= 992px) {
        height: var(--size-large-breakpoint-checkbox-icon);
        min-width: var(--size-large-breakpoint-checkbox-icon);
        width: var(--size-large-breakpoint-checkbox-icon);
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: var(--space-y-block-small-breakpoint-checkbox);

    @media (width >= 768px) {
      margin-bottom: var(--space-y-block-medium-breakpoint-checkbox);
    }

    @media (width >= 992px) {
      margin-bottom: var(--space-y-block-large-breakpoint-checkbox);
    }
  }
}
