:root {
  --color-legend: var(--color-form-label);
  --weight-legend: var(--weight-form-label);
  --size-large-breakpoint-legend: var(--size-large-breakpoint-form-element-label);
  --size-medium-breakpoint-legend: var(--size-medium-breakpoint-form-element-label);
  --size-small-breakpoint-legend: var(--size-small-breakpoint-form-element-label);
  --space-y-block-large-breakpoint-legend: var(--space-y-block-large-breakpoint-form-element-label);
  --space-y-block-medium-breakpoint-legend: var(
    --space-y-block-medium-breakpoint-form-element-label
  );
  --space-y-block-small-breakpoint-legend: var(--space-y-block-small-breakpoint-form-element-label);
  --column-gap-form-grid: var(--gap);
  --space-y-block-legend-label-addon: var(--space-y-block-form-label);
  --color-form-element-label: var(--color-form-label);
  --size-large-breakpoint-form-element-label: var(--size-large-breakpoint-form-label);
  --size-medium-breakpoint-form-element-label: var(--size-medium-breakpoint-form-label);
  --size-small-breakpoint-form-element-label: var(--size-small-breakpoint-form-label);
  --weight-form-element-label: var(--weight-form-label);
  --width-large-breakpoint-form-element-icon: 50px;
  --width-medium-breakpoint-form-element-icon: 50px;
  --width-small-breakpoint-form-element-icon: 50px;
  --height-form-element-icon: calc(100% - 2px);
  --space-x-large-breakpoint-form-element-icon: 3.125rem;
  --space-x-medium-breakpoint-form-element-icon: 3.125rem;
  --space-x-small-breakpoint-form-element-icon: 3.125rem;
  --size-message: 0.75rem;
  --space-y-block-bottom-message: 0.5rem;
  --border-width-message-error-items: var(--border-width-form);
  --border-color-message-error-items: var(--border-color-form-error);
  --border-radius-message-error-items: var(--border-radius-form);
  --space-y-submit: 1.25rem;
}

.form {
  container-type: inline-size;
  margin-left: var(--space-x-small-breakpoint-container);
  margin-right: var(--space-x-small-breakpoint-container);

  @media (width >= 768px) {
    margin-left: var(--space-x-medium-breakpoint-container);
    margin-right: var(--space-x-medium-breakpoint-container);
  }

  @media (width >= 992px) {
    margin-left: var(--space-x-large-breakpoint-container);
    margin-right: var(--space-x-large-breakpoint-container);
    max-width: var(--max-width-container-large);
  }

  @media (width >= 1200px) {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-container-small);
  }
}

fieldset legend {
  color: var(--color-legend);
  display: block;
  font-size: var(--size-small-breakpoint-legend);
  font-weight: var(--weight-legend);
  margin-bottom: var(--space-y-block-small-breakpoint-legend);

  @media (width >= 768px) {
    font-size: var(--size-medium-breakpoint-legend);
    margin-bottom: var(--space-y-block-medium-breakpoint-legend);
  }

  @media (width >= 992px) {
    font-size: var(--size-large-breakpoint-legend);
    margin-bottom: var(--space-y-block-large-breakpoint-legend);
  }
}

.form-grid {
  column-gap: var(--column-gap-form-grid);
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .form-element {
    width: 100%;

    @media (width >= 768px) {
      flex: 1;
    }
  }
}

.form-element {
  margin-bottom: var(--space-y-block-small-breakpoint-form-element);
  position: relative;

  @media (width >= 768px) {
    margin-bottom: var(--space-y-block-medium-breakpoint-form-element);
  }

  @media (width >= 992px) {
    margin-bottom: var(--space-y-block-large-breakpoint-form-element);
  }

  .form-element-label {
    display: flex;

    .form-element-label-addon {
      color: var(--color-form-element-label-addon);
      display: block;
      font-size: var(--size-small-breakpoint-form-element-label-addon);
      margin-bottom: var(--space-y-block-legend-label-addon);
      margin-left: auto;

      @media (width >= 768px) {
        font-size: var(--size-medium-breakpoint-form-element-label-addon);
      }

      @media (width >= 992px) {
        font-size: var(--size-large-breakpoint-form-element-label-addon);
      }
    }
  }

  .form-element-icon {
    align-items: center;
    border-bottom-left-radius: var(--border-radius-form);
    border-top-left-radius: var(--border-radius-form);
    display: flex;
    height: var(--height-form-element-icon);
    inset: var(--inset-form-element-icon);
    justify-content: center;
    position: absolute;
    width: var(--width-small-breakpoint-form-element-icon);

    & svg {
      color: var(--color-form-element-icon);
      height: var(--size-small-breakpoint-form-element-icon);
      width: var(--size-small-breakpoint-form-element-icon);

      @media (width >= 768px) {
        height: var(--size-medium-breakpoint-form-element-icon);
        width: var(--size-medium-breakpoint-form-element-icon);
      }

      @media (width >= 992px) {
        height: var(--size-large-breakpoint-form-element-icon);
        width: var(--size-large-breakpoint-form-element-icon);
      }
    }

    @media (width >= 768px) {
      width: var(--width-medium-breakpoint-form-element-icon);
    }

    @media (width >= 992px) {
      width: var(--width-large-breakpoint-form-element-icon);
    }

    + .input {
      padding-left: var(--space-x-small-breakpoint-form-element-icon);

      @media (width >= 768px) {
        padding-left: var(--space-x-medium-breakpoint-form-element-icon);
      }

      @media (width >= 992px) {
        padding-left: var(--space-x-large-breakpoint-form-element-icon);
      }
    }
  }

  .form-element-input {
    position: relative;
  }
}

label {
  color: var(--color-form-element-label);
  display: block;
  font-size: var(--size-small-breakpoint-form-element-label);
  font-weight: var(--weight-form-element-label);
  margin-bottom: var(--space-y-block-small-breakpoint-form-element-label);

  @media (width >= 768px) {
    font-size: var(--size-medium-breakpoint-form-element-label);
    margin-bottom: var(--space-y-block-medium-breakpoint-form-element-label);
  }

  @media (width >= 992px) {
    font-size: var(--size-large-breakpoint-form-element-label);
    margin-bottom: var(--space-y-block-large-breakpoint-form-element-label);
  }
}
