.form {
  --color-legend: var(--color-form-label);
  --weight-legend: var(--weight-form-label);
  --size-large-breakpoint-legend: var(--size-large-breakpoint-form-element-label);
  --size-medium-breakpoint-legend: var(--size-medium-breakpoint-form-element-label);
  --size-small-breakpoint-legend: var(--size-small-breakpoint-form-element-label);
  --space-y-block-large-breakpoint-legend: var(--space-y-block-large-breakpoint-form-element-label);
  --space-y-block-medium-breakpoint-legend: var(--space-y-block-medium-breakpoint-form-element-label);
  --space-y-block-small-breakpoint-legend: var(--space-y-block-small-breakpoint-form-element-label);
  --column-gap-form-grid: var(--gap);
  --space-y-block-legend-label-addon: var(--space-y-block-form-label);
  --color-form-element-label: var(--color-form-label);
  --size-large-breakpoint-form-element-label: var(--size-large-breakpoint-form-label);
  --size-medium-breakpoint-form-element-label: var(--size-medium-breakpoint-form-label);
  --size-small-breakpoint-form-element-label: var(--size-small-breakpoint-form-label);
  --weight-form-element-label: var(--weight-form-label);
  --width-large-breakpoint-form-element-icon: 50px;
  --width-medium-breakpoint-form-element-icon: 50px;
  --width-small-breakpoint-form-element-icon: 50px;
  --height-form-element-icon: calc(100% - 2px);
  --space-x-large-breakpoint-form-element-icon: 3.125rem;
  --space-x-medium-breakpoint-form-element-icon: 3.125rem;
  --space-x-small-breakpoint-form-element-icon: 3.125rem;
  --background-input: var(--background-form);
  --border-width-input: var(--border-width-form);
  --border-color-input: var(--border-color-form);
  --border-radius-input: var(--border-radius-form);
  --color-input: var(--color-form);
  --size-large-breakpoint-input: var(--size-large-breakpoint-form);
  --size-medium-breakpoint-input: var(--size-medium-breakpoint-form);
  --size-small-breakpoint-input: var(--size-small-breakpoint-form);
  --space-x-large-breakpoint-input: var(--space-x-large-breakpoint-form);
  --space-x-medium-breakpoint-input: var(--space-x-medium-breakpoint-form);
  --space-x-small-breakpoint-input: var(--space-x-small-breakpoint-form);
  --space-y-large-breakpoint-input: var(--space-y-large-breakpoint-form);
  --space-y-medium-breakpoint-input: var(--space-y-medium-breakpoint-form);
  --space-y-small-breakpoint-input: var(--space-y-small-breakpoint-form);
  --color-input-placeholder: var(--color-form-placeholder);
  --border-color-input-focus: var(--border-color-form-focus);
  --color-input-error: var(--color-form-error);
  --border-color-input-error: var(--border-color-form-error);
  --background-textarea: var(--background-form);
  --border-width-textarea: var(--border-width-form);
  --border-color-textarea: var(--border-color-form);
  --border-radius-textarea: var(--border-radius-form);
  --color-textarea: var(--color-form);
  --space-x-large-breakpoint-textarea: var(--space-x-large-breakpoint-form);
  --space-x-medium-breakpoint-textarea: var(--space-x-medium-breakpoint-form);
  --space-x-small-breakpoint-textarea: var(--space-x-small-breakpoint-form);
  --space-y-large-breakpoint-textarea: var(--space-y-large-breakpoint-form);
  --space-y-medium-breakpoint-textarea: var(--space-y-medium-breakpoint-form);
  --space-y-small-breakpoint-textarea: var(--space-y-small-breakpoint-form);
  --color-textarea-placeholder: var(--color-form-placeholder);
  --border-color-textarea-focus: var(--border-color-form-focus);
  --border-color-textarea-error: var(--border-color-form-error);
  --size-large-breakpoint-checkbox-label: var(--size-large-breakpoint-form);
  --size-medium-breakpoint-checkbox-label: var(--size-medium-breakpoint-form);
  --size-small-breakpoint-checkbox-label: var(--size-small-breakpoint-form);
  --size-large-breakpoint-radio-label: var(--size-large-breakpoint-form);
  --size-medium-breakpoint-radio-label: var(--size-medium-breakpoint-form);
  --size-small-breakpoint-radio-label: var(--size-small-breakpoint-form);
  --border-radius-select-trigger: var(--border-radius-form);
  --size-large-breakpoint-select-trigger: var(--size-large-breakpoint-form);
  --size-medium-breakpoint-select-trigger: var(--size-medium-breakpoint-form);
  --size-small-breakpoint-select-trigger: var(--size-small-breakpoint-form);
  --border-radius-select-trigger-visible: var(--border-radius-form);
  --color-select-trigger-icon: var(--neutral-500);
  --size-select-trigger-icon: 15px;
  --background-select-options: var(--background-form);
  --border-radius-select-options: var(--border-radius-form);
  --space-x-large-breakpoint-select-options: 0;
  --space-x-medium-breakpoint-select-options: 0;
  --space-x-small-breakpoint-select-options: 0;
  --space-y-large-breakpoint-select-options: 0.3125rem;
  --space-y-medium-breakpoint-select-options: 0.3125rem;
  --space-y-small-breakpoint-select-options: 0.3125rem;
  --size-message: 0.75rem;
  --space-y-block-bottom-message: 0.5rem;
  --border-width-message-error-items: var(--border-width-form);
  --border-color-message-error-items: var(--border-color-form-error);
  --border-radius-message-error-items: var(--border-radius-form);
  --background-datepicker: #ffffff;
  --border-width-datepicker: 1px;
  --border-color-datepicker: var(--neutral-200);
  --border-radius-datepicker: var(--border-radius-form);
  --width-large-breakpoint-datepicker: 360px;
  --width-medium-breakpoint-datepicker: 360px;
  --width-small-breakpoint-datepicker: 300px;
  --color-datepicker-prev-next: var(--neutral-500);
  --size-datepicker-prev-next: 12px;
  --background-hover-datepicker-prev-next: var(--neutral-100);
  --border-color-datepicker-prev-next: var(--neutral-500);
  --size-datepicker-month-dropdown: 12px;
  --border-bottom-datepicker-calendar-header: 1px solid var(--neutral-300);
  --space-y-block-datepicker-calendar-header: 0.625rem;
  --space-y-datepicker-calendar-header: 0.9375rem;
  --weight-datepicker-calendar-header-days: 700;
  --size-datepicker-calendar-header-days: 0.75rem;
  --size-datepicker-calendar-day: 0.75rem;
  --weight-datepicker-calendar-day: 700;
  --space-y-datepicker-calendar-day: 0.9375rem 0;
  --border-datepicker-calendar-day: 1px solid var(--neutral-100);
  --space-x-multiselect-count: 0.4375rem;
  --space-y-multiselect-count: 0.1875rem;
  --background-multiselect: var(--neutral-600);
  --border-radius-multiselect: 4px;
  --color-multiselect: #ffffff;
  --size-multiselect: 0.75rem;
  --space-x-block-multiselect: 0.5rem;
  --space-x-large-breakpoint-multiselect: 1.25rem;
  --space-x-medium-breakpoint-multiselect: 1.25rem;
  --space-x-small-breakpoint-multiselect: 1.25rem;
  --space-y-large-breakpoint-multiselect: 0.625rem;
  --space-y-medium-breakpoint-multiselect: 0.625rem;
  --space-y-small-breakpoint-multiselect: 0.625rem;
  --space-y-submit: 1.25rem;

  container-type: inline-size;
  margin-left: var(--space-small-breakpoint-container);
  margin-right: var(--space-small-breakpoint-container);
  position: relative;
}

@container (width >=768px) {
  .form {
    margin: 0 var(--space-medium-breakpoint-container) 0 var(--space-medium-breakpoint-container);
  }
}

@container (width >=1200px) {
  .form {
    margin-left: var(--space-large-breakpoint-container);
    margin-right: var(--space-large-breakpoint-container);
    max-width: var(--max-width-container-large);
  }
}

@container (width >=1400px) {
  .form {
    max-width: var(--max-width-container-extralarge);
  }
}

fieldset legend {
  color: var(--color-legend);
  display: block;
  font-size: var(--size-small-breakpoint-legend);
  font-weight: var(--weight-legend);
  margin-bottom: var(--space-y-block-small-breakpoint-legend);
}

@media(min-width: 768px) {
  fieldset legend {
    font-size: var(--size-medium-breakpoint-legend);
  }
}

@media(min-width: 1200px) {
  fieldset legend {
    font-size: var(--size-large-breakpoint-legend);
  }
}

@media(min-width: 768px) {
  fieldset legend {
    margin-bottom: var(--space-y-block-medium-breakpoint-legend);
  }
}

@media(min-width: 1200px) {
  fieldset legend {
    margin-bottom: var(--space-y-block-large-breakpoint-legend);
  }
}

.form-grid .form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media(min-width: 768px) {
  .form-grid .form-row {
    column-gap: var(--column-gap-form-grid);
  }
}

.form-grid .form-row .form-element {
  width: 100%;
}

@media(min-width: 768px) {
  .form-grid .form-row .form-element {
    flex: 1 0 calc(50% - var(--gap));
    max-width: calc(50% - var(--gap)/2*1);
    width: auto;
  }
}

.form-element {
  margin-bottom: var(--space-y-block-small-breakpoint-form-element);
  position: relative;
}

@media(min-width: 768px) {
  .form-element {
    margin-bottom: var(--space-y-block-medium-breakpoint-form-element);
  }
}

@media(min-width: 1200px) {
  .form-element {
    margin-bottom: var(--space-y-block-large-breakpoint-form-element);
  }
}

.form-element .form-element-label {
  display: flex;
}

.form-element .form-element-label .form-element-label-addon {
  color: var(--color-form-element-label-addon);
  display: block;
  font-size: var(--size-small-breakpoint-form-element-label-addon);
  margin-bottom: var(--space-y-block-legend-label-addon);
  margin-left: auto;
}

@media(min-width: 768px) {
  .form-element .form-element-label .form-element-label-addon {
    font-size: var(--size-medium-breakpoint-form-element-label-addon);
  }
}

@media(min-width: 1200px) {
  .form-element .form-element-label .form-element-label-addon {
    font-size: var(--size-large-breakpoint-form-element-label-addon);
  }
}

.form-element .form-element-label label {
  color: var(--color-form-element-label);
  display: block;
  font-size: var(--size-small-breakpoint-form-element-label);
  font-weight: var(--weight-form-element-label);
  margin-bottom: var(--space-y-block-small-breakpoint-form-element-label);
}

@media(min-width: 768px) {
  .form-element .form-element-label label {
    font-size: var(--size-medium-breakpoint-form-element-label);
  }
}

@media(min-width: 1200px) {
  .form-element .form-element-label label {
    font-size: var(--size-large-breakpoint-form-element-label);
  }
}

@media(min-width: 768px) {
  .form-element .form-element-label label {
    margin-bottom: var(--space-y-block-medium-breakpoint-form-element-label);
  }
}

@media(min-width: 1200px) {
  .form-element .form-element-label label {
    margin-bottom: var(--space-y-block-large-breakpoint-form-element-label);
  }
}

.form-element .form-element-icon {
  align-items: center;
  border-bottom-left-radius: var(--border-radius-form);
  border-top-left-radius: var(--border-radius-form);
  display: flex;
  height: var(--height-form-element-icon);
  inset: var(--inset-form-element-icon);
  justify-content: center;
  position: absolute;
  width: var(--width-small-breakpoint-form-element-icon);
}

@media(min-width: 768px) {
  .form-element .form-element-icon {
    width: var(--width-medium-breakpoint-form-element-icon);
  }
}

@media(min-width: 1200px) {
  .form-element .form-element-icon {
    width: var(--width-large-breakpoint-form-element-icon);
  }
}

.form-element .form-element-icon i {
  height: var(--size-small-breakpoint-form-element-icon);
  width: var(--size-small-breakpoint-form-element-icon);
}

@media(min-width: 768px) {
  .form-element .form-element-icon i {
    height: var(--size-medium-breakpoint-form-element-icon);
    width: var(--size-medium-breakpoint-form-element-icon);
  }
}

@media(min-width: 1200px) {
  .form-element .form-element-icon i {
    height: var(--size-large-breakpoint-form-element-icon);
    width: var(--size-large-breakpoint-form-element-icon);
  }
}

.form-element .form-element-icon i::after {
  background: var(--color-form-element-icon);
  height: var(--size-small-breakpoint-form-element-icon);
  min-width: var(--size-small-breakpoint-form-element-icon);
  width: var(--size-small-breakpoint-form-element-icon);
}

@media(min-width: 768px) {
  .form-element .form-element-icon i::after {
    height: var(--size-medium-breakpoint-form-element-icon);
    min-width: var(--size-medium-breakpoint-form-element-icon);
    width: var(--size-medium-breakpoint-form-element-icon);
  }
}

@media(min-width: 1200px) {
  .form-element .form-element-icon i::after {
    height: var(--size-large-breakpoint-form-element-icon);
    min-width: var(--size-large-breakpoint-form-element-icon);
    width: var(--size-large-breakpoint-form-element-icon);
  }
}

.form-element .form-element-icon+.input {
  padding-left: var(--space-x-small-breakpoint-form-element-icon);
}

@media(min-width: 768px) {
  .form-element .form-element-icon+.input {
    padding-left: var(--space-x-medium-breakpoint-form-element-icon);
  }
}

@media(min-width: 1200px) {
  .form-element .form-element-icon+.input {
    padding-left: var(--space-x-large-breakpoint-form-element-icon);
  }
}

.form-element .form-element-input {
  position: relative;
}

.form-element .input {
  appearance: none;
  background: var(--background-input);
  border-color: var(--border-color-input);
  border-radius: var(--border-radius-input);
  border-style: solid;
  border-width: var(--border-width-input);
  color: var(--color-input);
  display: block;
  font-size: var(--size-small-breakpoint-input);
  margin-bottom: 0;
  padding: var(--space-y-small-breakpoint-input) var(--space-x-small-breakpoint-input);
  transition: all .3s;
  width: 100%;
}

@media(min-width: 768px) {
  .form-element .input {
    font-size: var(--size-medium-breakpoint-input);
  }
}

@media(min-width: 1200px) {
  .form-element .input {
    font-size: var(--size-large-breakpoint-input);
  }
}

@media(min-width: 768px) {
  .form-element .input {
    padding: var(--space-y-medium-breakpoint-input) var(--space-x-medium-breakpoint-input);
  }
}

@media(min-width: 1200px) {
  .form-element .input {
    padding: var(--space-y-large-breakpoint-input) var(--space-x-large-breakpoint-input);
  }
}

.form-element .input::placeholder {
  color: var(--color-input-placeholder);
}

.form-element .input:focus {
  border-color: var(--border-color-input-focus);
  box-shadow: 0px 0px 0px var(--size-form-outline) var(--color-form-outline);
  outline: 0;
}

.form-element .input.input--error {
  border-color: var(--border-color-input-error);
  box-shadow: 0px 0px 0px var(--size-form-outline) var(--color-form-outline-error);
  color: var(--color-input-error);
}

.textarea {
  appearance: none;
  background: var(--background-textarea);
  background-clip: padding-box;
  border-color: var(--border-color-textarea);
  border-radius: var(--border-radius-textarea);
  border-style: solid;
  border-width: var(--border-width-textarea);
  color: var(--color-textarea);
  display: block;
  font-size: var(--size-small-breakpoint-input);
  margin-bottom: 0;
  min-height: var(--min-height-small-breakpoint-textarea);
  padding: var(--space-y-small-breakpoint-textarea) var(--space-x-small-breakpoint-textarea);
  transition: all .3s;
  width: 100%;
}

@media(min-width: 768px) {
  .textarea {
    min-height: var(--min-height-medium-breakpoint-textarea);
  }
}

@media(min-width: 1200px) {
  .textarea {
    min-height: var(--min-height-large-breakpoint-textarea);
  }
}

@media(min-width: 768px) {
  .textarea {
    font-size: var(--size-medium-breakpoint-input);
  }
}

@media(min-width: 1200px) {
  .textarea {
    font-size: var(--size-large-breakpoint-input);
  }
}

@media(min-width: 768px) {
  .textarea {
    padding: var(--space-y-medium-breakpoint-textarea) var(--space-x-medium-breakpoint-textarea);
  }
}

@media(min-width: 1200px) {
  .textarea {
    padding: var(--space-y-large-breakpoint-textarea) var(--space-x-large-breakpoint-textarea);
  }
}

.textarea::placeholder {
  color: var(--color-textarea-placeholder);
  opacity: .7;
}

.textarea:focus {
  border-color: var(--border-color-textarea-focus);
  box-shadow: 0px 0px 0px var(--size-form-outline) var(--color-form-outline);
  outline: 0;
}

.textarea.textarea--error {
  border-color: var(--border-color-textarea-error);
  box-shadow: 0px 0px 0px var(--size-form-outline) var(--color-form-outline-error);
}

.checkbox {
  color: var(--color-checkbox);
  position: relative;
  transition: all .3s;
}

.checkbox label {
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  display: flex;
}

.checkbox .checkbox-label {
  color: var(--color-checkbox-label);
  display: flex;
  font-size: var(--size-small-breakpoint-checkbox-label);
  padding: var(--space-y-small-breakpoint-checkbox) var(--space-x-small-breakpoint-checkbox);
}

@media(min-width: 768px) {
  .checkbox .checkbox-label {
    font-size: var(--size-medium-breakpoint-checkbox-label);
  }
}

@media(min-width: 1200px) {
  .checkbox .checkbox-label {
    font-size: var(--size-large-breakpoint-checkbox-label);
  }
}

@media(min-width: 768px) {
  .checkbox .checkbox-label {
    padding: var(--space-y-medium-breakpoint-checkbox) var(--space-x-medium-breakpoint-checkbox);
  }
}

@media(min-width: 1200px) {
  .checkbox .checkbox-label {
    padding: var(--space-y-large-breakpoint-checkbox) var(--space-x-large-breakpoint-checkbox);
  }
}

.checkbox .checkbox-icon {
  height: var(--size-checkbox-icon);
  position: relative;
  width: var(--size-checkbox-icon);
}

.checkbox .checkbox-icon::after {
  background-color: var(--color-checkbox-icon);
  content: "";
  display: block;
  height: var(--size-small-breakpoint-checkbox-icon);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 18h-10c-2.21 0-4-1.79-4-4v-10c0-2.21 1.79-4 4-4h10c2.21 0 4 1.79 4 4v10c0 2.21-1.79 4-4 4zm-10-17c-1.65 0-3 1.35-3 3v10c0 1.65 1.35 3 3 3h10c1.65 0 3-1.35 3-3v-10c0-1.65-1.35-3-3-3z' fill='%23D2D6DB'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 18h-10c-2.21 0-4-1.79-4-4v-10c0-2.21 1.79-4 4-4h10c2.21 0 4 1.79 4 4v10c0 2.21-1.79 4-4 4zm-10-17c-1.65 0-3 1.35-3 3v10c0 1.65 1.35 3 3 3h10c1.65 0 3-1.35 3-3v-10c0-1.65-1.35-3-3-3z' fill='%23D2D6DB'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-small-breakpoint-checkbox-icon);
  width: var(--size-small-breakpoint-checkbox-icon);
}

@media(min-width: 768px) {
  .checkbox .checkbox-icon::after {
    height: var(--size-medium-breakpoint-checkbox-icon);
    min-width: var(--size-medium-breakpoint-checkbox-icon);
    width: var(--size-medium-breakpoint-checkbox-icon);
  }
}

@media(min-width: 1200px) {
  .checkbox .checkbox-icon::after {
    height: var(--size-large-breakpoint-checkbox-icon);
    min-width: var(--size-large-breakpoint-checkbox-icon);
    width: var(--size-large-breakpoint-checkbox-icon);
  }
}

.checkbox input[type=checkbox] {
  cursor: pointer;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 5px;
}

.checkbox input[type=checkbox]:checked+.checkbox-icon::after {
  background-color: var(--color-checkbox-icon-checked);
  content: "";
  display: block;
  height: var(--size-small-breakpoint-checkbox-icon);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 0h-10c-2.21 0-4 1.79-4 4v10c0 2.21 1.79 4 4 4h10c2.21 0 4-1.79 4-4v-10c0-2.21-1.79-4-4-4zm-11.04 8.29c.39-.39 1.02-.39 1.41 0l2.63 2.63 6.63-6.63c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41l-7.33 7.33c-.2.2-.45.29-.71.29s-.51-.1-.71-.29l-3.33-3.33c-.39-.39-.39-1.02 0-1.41z' fill='%232E90FA'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 0h-10c-2.21 0-4 1.79-4 4v10c0 2.21 1.79 4 4 4h10c2.21 0 4-1.79 4-4v-10c0-2.21-1.79-4-4-4zm-11.04 8.29c.39-.39 1.02-.39 1.41 0l2.63 2.63 6.63-6.63c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41l-7.33 7.33c-.2.2-.45.29-.71.29s-.51-.1-.71-.29l-3.33-3.33c-.39-.39-.39-1.02 0-1.41z' fill='%232E90FA'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-small-breakpoint-checkbox-icon);
  width: var(--size-small-breakpoint-checkbox-icon);
}

@media(min-width: 768px) {
  .checkbox input[type=checkbox]:checked+.checkbox-icon::after {
    height: var(--size-medium-breakpoint-checkbox-icon);
    min-width: var(--size-medium-breakpoint-checkbox-icon);
    width: var(--size-medium-breakpoint-checkbox-icon);
  }
}

@media(min-width: 1200px) {
  .checkbox input[type=checkbox]:checked+.checkbox-icon::after {
    height: var(--size-large-breakpoint-checkbox-icon);
    min-width: var(--size-large-breakpoint-checkbox-icon);
    width: var(--size-large-breakpoint-checkbox-icon);
  }
}

.checkbox:not(:last-child) {
  margin-bottom: var(--space-y-block-small-breakpoint-checkbox);
}

@media(min-width: 768px) {
  .checkbox:not(:last-child) {
    margin-bottom: var(--space-y-block-medium-breakpoint-checkbox);
  }
}

@media(min-width: 1200px) {
  .checkbox:not(:last-child) {
    margin-bottom: var(--space-y-block-large-breakpoint-checkbox);
  }
}

.radio {
  color: var(--color-radio);
  position: relative;
  transition: all .3s;
}

.radio label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.radio .radio-label {
  color: var(--color-radio-label);
  font-size: var(--size-small-breakpoint-radio-label);
  padding: var(--space-y-small-breakpoint-radio) var(--space-x-small-breakpoint-radio);
}

@media(min-width: 768px) {
  .radio .radio-label {
    font-size: var(--size-medium-breakpoint-radio-label);
  }
}

@media(min-width: 1200px) {
  .radio .radio-label {
    font-size: var(--size-large-breakpoint-radio-label);
  }
}

@media(min-width: 768px) {
  .radio .radio-label {
    padding: var(--space-y-medium-breakpoint-radio) var(--space-x-medium-breakpoint-radio);
  }
}

@media(min-width: 1200px) {
  .radio .radio-label {
    padding: var(--space-y-large-breakpoint-radio) var(--space-x-large-breakpoint-radio);
  }
}

.radio .radio-icon {
  position: relative;
}

.radio .radio-icon::after {
  background-color: var(--color-radio-icon);
  content: "";
  display: block;
  height: var(--size-small-breakpoint-radio-icon);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='8.5' stroke='%236C737F'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='8.5' stroke='%236C737F'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-small-breakpoint-radio-icon);
  width: var(--size-small-breakpoint-radio-icon);
}

@media(min-width: 768px) {
  .radio .radio-icon::after {
    height: var(--size-medium-breakpoint-radio-icon);
    min-width: var(--size-medium-breakpoint-radio-icon);
    width: var(--size-medium-breakpoint-radio-icon);
  }
}

@media(min-width: 1200px) {
  .radio .radio-icon::after {
    height: var(--size-large-breakpoint-radio-icon);
    min-width: var(--size-large-breakpoint-radio-icon);
    width: var(--size-large-breakpoint-radio-icon);
  }
}

.radio input[type=radio] {
  cursor: pointer;
  left: .3125rem;
  opacity: 0;
  position: absolute;
  top: .3125rem;
}

.radio input[type=radio]:checked+.radio-icon::after {
  background-color: var(--color-radio-icon-active);
  content: "";
  display: block;
  height: var(--size-small-breakpoint-radio-icon);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234b85c5'%3E%3Cpath d='m9 18c-4.96 0-9-4.04-9-9s4.04-9 9-9 9 4.04 9 9-4.04 9-9 9zm0-17c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8z'/%3E%3Ccircle cx='9' cy='9' r='4'/%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234b85c5'%3E%3Cpath d='m9 18c-4.96 0-9-4.04-9-9s4.04-9 9-9 9 4.04 9 9-4.04 9-9 9zm0-17c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8z'/%3E%3Ccircle cx='9' cy='9' r='4'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-small-breakpoint-radio-icon);
  width: var(--size-small-breakpoint-radio-icon);
}

.radio:not(:last-child) {
  margin-bottom: var(--space-y-block-small-breakpoint-radio);
}

@media(min-width: 768px) {
  .radio:not(:last-child) {
    margin-bottom: var(--space-y-block-medium-breakpoint-radio);
  }
}

@media(min-width: 1200px) {
  .radio:not(:last-child) {
    margin-bottom: var(--space-y-block-large-breakpoint-radio);
  }
}

.select {
  height: 48.5px;
  position: relative;
  width: auto;
}

.select select {
  display: none;
}

.select .select-trigger {
  align-items: center;
  background: var(--background-select-trigger);
  border-color: var(--border-color-select-trigger);
  border-radius: var(--border-radius-select-trigger);
  border-style: solid;
  border-width: var(--border-width-select-trigger);
  color: var(--color-select-trigger);
  cursor: pointer;
  display: flex;
  font-size: var(--size-small-breakpoint-select-trigger);
  height: 100%;
  padding: var(--space-y-small-breakpoint-select) var(--space-x-small-breakpoint-select);
  position: relative;
  transition: all var(--transition-duration) ease-in-out;
  width: 100%;
}

@media(min-width: 768px) {
  .select .select-trigger {
    font-size: var(--size-medium-breakpoint-select-trigger);
  }
}

@media(min-width: 1200px) {
  .select .select-trigger {
    font-size: var(--size-large-breakpoint-select-trigger);
  }
}

@media(min-width: 768px) {
  .select .select-trigger {
    padding: var(--space-y-medium-breakpoint-select) var(--space-x-medium-breakpoint-select);
  }
}

@media(min-width: 1200px) {
  .select .select-trigger {
    padding: var(--space-y-large-breakpoint-select) var(--space-x-large-breakpoint-select);
  }
}

.select .select-trigger.visible {
  border-color: var(--border-color-select-trigger-visible);
  border-radius: var(--border-radius-select-trigger-visible);
  box-shadow: 0px 0px 0px var(--size-form-outline) var(--color-form-outline);
}

.select .select-trigger.visible::after {
  transform: rotate(180deg);
}

.select .select-trigger.selected {
  color: var(--color-select-trigger-selected);
}

.select .select-trigger::after {
  background-color: var(--color-select-trigger-icon);
  content: "";
  display: block;
  height: var(--size-select-trigger-icon);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='-1.5 -4.5 16.5 16.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 8c-.26 0-.51-.1-.71-.29l-6-6c-.39-.39-.39-1.03 0-1.42s1.03-.39 1.42 0l5.29 5.3 5.29-5.3c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41l-5.99 6.01c-.2.2-.45.29-.71.29z' fill='%236c737f'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='-1.5 -4.5 16.5 16.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 8c-.26 0-.51-.1-.71-.29l-6-6c-.39-.39-.39-1.03 0-1.42s1.03-.39 1.42 0l5.29 5.3 5.29-5.3c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41l-5.99 6.01c-.2.2-.45.29-.71.29z' fill='%236c737f'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-select-trigger-icon);
  position: absolute;
  right: 20px;
  top: auto;
  transform: rotate(0);
  transition: all .1s;
  width: var(--size-select-trigger-icon);
}

.select .select-options {
  background: var(--background-select-options);
  border-color: var(--border-color-select-options);
  border-radius: var(--border-radius-select-options);
  border-style: solid;
  border-width: var(--border-width-select-options);
  box-shadow: none;
  display: none;
  left: 0;
  padding: var(--space-y-small-breakpoint-select-options) var(--space-x-small-breakpoint-select-options);
  position: absolute;
  top: 55.5px;
  transition: all var(--transition-duration) ease-in-out;
  width: 100%;
  z-index: 1;
}

@media(min-width: 768px) {
  .select .select-options {
    padding: var(--space-y-medium-breakpoint-select-options) var(--space-x-medium-breakpoint-select-options);
  }
}

@media(min-width: 1200px) {
  .select .select-options {
    padding: var(--space-y-large-breakpoint-select-options) var(--space-x-large-breakpoint-select-options);
  }
}

.select .select-options.visible {
  display: block;
}

.select .select-options .select-option {
  color: var(--color-select-option);
  cursor: pointer;
  font-weight: normal;
  padding: var(--space-y-small-breakpoint-select-option) var(--space-x-small-breakpoint-select-option);
  position: relative;
  transition: all var(--transition-duration) ease-in-out;
}

@media(min-width: 768px) {
  .select .select-options .select-option {
    padding: var(--space-y-medium-breakpoint-select-option) var(--space-x-medium-breakpoint-select-option);
  }
}

@media(min-width: 1200px) {
  .select .select-options .select-option {
    padding: var(--space-y-large-breakpoint-select-option) var(--space-x-large-breakpoint-select-option);
  }
}

.select .select-options .select-option:not(:last-of-type)::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.select .select-options .select-option:hover {
  background: var(--background-select-option-hover);
}

.form-element-message {
  align-items: center;
  display: flex;
  font-size: 0;
  gap: 5px;
  margin-top: 0;
  transition: margin var(--transition-duration);
  visibility: hidden;
}

.form-element-message.visible {
  font-size: var(--size-message);
  margin-top: var(--space-y-block-bottom-message);
  visibility: visible;
}

.form-element-message.form-element-message--error {
  color: var(--color-message-error);
}

.form-element-message.form-element-message--error .form-element-message-icon::before {
  background-color: var(--color-message-error);
  content: "";
  display: block;
  height: var(--size-small-breakpoint-message-error-icon);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 7.00008V11.0001M10 15.0001H10.01M1 6.94153V15.0586C1 15.4013 1 15.5726 1.05048 15.7254C1.09515 15.8606 1.16816 15.9847 1.26463 16.0893C1.37369 16.2077 1.52345 16.2909 1.82297 16.4573L9.22297 20.5684C9.50658 20.726 9.64838 20.8047 9.79855 20.8356C9.93146 20.863 10.0685 20.863 10.2015 20.8356C10.3516 20.8047 10.4934 20.726 10.777 20.5684L18.177 16.4573C18.4766 16.2909 18.6263 16.2077 18.7354 16.0893C18.8318 15.9847 18.9049 15.8606 18.9495 15.7254C19 15.5726 19 15.4013 19 15.0586V6.94153C19 6.59889 19 6.42756 18.9495 6.27477C18.9049 6.13959 18.8318 6.01551 18.7354 5.91082C18.6263 5.79248 18.4766 5.70928 18.177 5.54288L10.777 1.43177C10.4934 1.27421 10.3516 1.19543 10.2015 1.16454C10.0685 1.13721 9.93146 1.13721 9.79855 1.16454C9.64838 1.19543 9.50658 1.27421 9.22297 1.43177L1.82297 5.54288C1.52345 5.70928 1.37369 5.79248 1.26463 5.91082C1.16816 6.01551 1.09515 6.13959 1.05048 6.27477C1 6.42756 1 6.59889 1 6.94153Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 7.00008V11.0001M10 15.0001H10.01M1 6.94153V15.0586C1 15.4013 1 15.5726 1.05048 15.7254C1.09515 15.8606 1.16816 15.9847 1.26463 16.0893C1.37369 16.2077 1.52345 16.2909 1.82297 16.4573L9.22297 20.5684C9.50658 20.726 9.64838 20.8047 9.79855 20.8356C9.93146 20.863 10.0685 20.863 10.2015 20.8356C10.3516 20.8047 10.4934 20.726 10.777 20.5684L18.177 16.4573C18.4766 16.2909 18.6263 16.2077 18.7354 16.0893C18.8318 15.9847 18.9049 15.8606 18.9495 15.7254C19 15.5726 19 15.4013 19 15.0586V6.94153C19 6.59889 19 6.42756 18.9495 6.27477C18.9049 6.13959 18.8318 6.01551 18.7354 5.91082C18.6263 5.79248 18.4766 5.70928 18.177 5.54288L10.777 1.43177C10.4934 1.27421 10.3516 1.19543 10.2015 1.16454C10.0685 1.13721 9.93146 1.13721 9.79855 1.16454C9.64838 1.19543 9.50658 1.27421 9.22297 1.43177L1.82297 5.54288C1.52345 5.70928 1.37369 5.79248 1.26463 5.91082C1.16816 6.01551 1.09515 6.13959 1.05048 6.27477C1 6.42756 1 6.59889 1 6.94153Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-small-breakpoint-message-error-icon);
  width: var(--size-small-breakpoint-message-error-icon);
}

@media(min-width: 768px) {
  .form-element-message.form-element-message--error .form-element-message-icon::before {
    height: var(--size-medium-breakpoint-message-error-icon);
    min-width: var(--size-medium-breakpoint-message-error-icon);
    width: var(--size-medium-breakpoint-message-error-icon);
  }
}

@media(min-width: 1200px) {
  .form-element-message.form-element-message--error .form-element-message-icon::before {
    height: var(--size-large-breakpoint-message-error-icon);
    min-width: var(--size-large-breakpoint-message-error-icon);
    width: var(--size-large-breakpoint-message-error-icon);
  }
}

.form-element-error .form-element-items {
  border-color: var(--border-color-message-error-items);
  border-radius: var(--border-radius-message-error-items);
  border-style: solid;
  border-width: var(--border-width-message-error-items);
  box-shadow: 0px 0px 0px var(--size-form-outline) var(--color-form-outline-error);
  padding: var(--space-y-small-breakpoint-message-items) var(--space-x-small-breakpoint-message-items);
}

@media(min-width: 768px) {
  .form-element-error .form-element-items {
    padding: var(--space-y-medium-breakpoint-message-items) var(--space-x-medium-breakpoint-message-items);
  }
}

@media(min-width: 1200px) {
  .form-element-error .form-element-items {
    padding: var(--space-y-large-breakpoint-message-items) var(--space-x-large-breakpoint-message-items);
  }
}

.datepicker {
  position: relative;
}

.datepicker .datepicker-calendar {
  background: var(--background-datepicker);
  border-color: var(--border-color-datepicker);
  border-radius: var(--border-radius-datepicker);
  border-style: solid;
  border-width: var(--border-width-datepicker);
  display: none;
  left: 0;
  position: absolute;
  top: calc(100% + 10px);
  width: var(--width-small-breakpoint-datepicker);
  z-index: 3;
}

@media(min-width: 768px) {
  .datepicker .datepicker-calendar {
    width: var(--width-medium-breakpoint-datepicker);
  }
}

@media(min-width: 1200px) {
  .datepicker .datepicker-calendar {
    width: var(--width-large-breakpoint-datepicker);
  }
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation {
  display: flex;
  padding: 1.25rem 1.25rem;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-month {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-month .datepicker-month-dropdown {
  color: var(--color-datepicker-month-dropdown);
  font-weight: 700;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-month::after {
  background-color: var(--color-datepicker-month-dropdown);
  content: "";
  display: block;
  height: var(--size-datepicker-month-dropdown);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='-1.5 -4.5 16.5 16.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 8c-.26 0-.51-.1-.71-.29l-6-6c-.39-.39-.39-1.03 0-1.42s1.03-.39 1.42 0l5.29 5.3 5.29-5.3c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41l-5.99 6.01c-.2.2-.45.29-.71.29z' fill='%236c737f'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='-1.5 -4.5 16.5 16.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m7 8c-.26 0-.51-.1-.71-.29l-6-6c-.39-.39-.39-1.03 0-1.42s1.03-.39 1.42 0l5.29 5.3 5.29-5.3c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41l-5.99 6.01c-.2.2-.45.29-.71.29z' fill='%236c737f'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-datepicker-month-dropdown);
  width: var(--size-datepicker-month-dropdown);
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button--prev {
  font-size: 0;
  margin-right: .5rem;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button--prev::after {
  background-color: var(--color-datepicker-prev-next);
  content: "";
  display: block;
  height: var(--size-datepicker-prev-next);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -0.1 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.75 11.5c-.19 0-.38-.07-.53-.22l-5-5c-.14-.14-.22-.33-.22-.53s.08-.39.22-.53l5-5c.29-.29.77-.29 1.06 0s.29.77 0 1.06l-4.47 4.47 4.47 4.47c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22z' fill='%236c7380'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='-2 -0.1 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.75 11.5c-.19 0-.38-.07-.53-.22l-5-5c-.14-.14-.22-.33-.22-.53s.08-.39.22-.53l5-5c.29-.29.77-.29 1.06 0s.29.77 0 1.06l-4.47 4.47 4.47 4.47c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22z' fill='%236c7380'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-datepicker-prev-next);
  width: var(--size-datepicker-prev-next);
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button--next {
  font-size: 0;
  margin-left: .5rem;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button--next::after {
  background-color: var(--color-datepicker-prev-next);
  content: "";
  display: block;
  height: var(--size-datepicker-prev-next);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='-3 -0.2 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.75 11.5c-.19 0-.38-.07-.53-.22-.29-.29-.29-.77 0-1.06l4.47-4.47-4.47-4.47c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l5 5c.29.29.29.77 0 1.06l-5 5c-.15.15-.34.22-.53.22z' fill='%236c7380'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='-3 -0.2 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.75 11.5c-.19 0-.38-.07-.53-.22-.29-.29-.29-.77 0-1.06l4.47-4.47-4.47-4.47c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l5 5c.29.29.29.77 0 1.06l-5 5c-.15.15-.34.22-.53.22z' fill='%236c7380'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  min-width: var(--size-datepicker-prev-next);
  width: var(--size-datepicker-prev-next);
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button {
  align-items: center;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button:hover,
.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button:focus,
.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button:active {
  background: none;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button:not(.deactivated):hover,
.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button:not(.deactivated):focus {
  background: var(--background-hover-datepicker-prev-next);
  border: 1px solid var(--background-hover-datepicker-prev-next);
  border-radius: 20px;
}

.datepicker .datepicker-calendar .datepicker-calendar-navigation .datepicker-button:not(.deactivated):focus {
  border: 1px solid var(--border-color-datepicker-prev-next);
}

.datepicker .datepicker-calendar .datepicker-calendar-header {
  border-bottom: var(--border-bottom-datepicker-calendar-header);
  margin-top: var(--space-y-block-datepicker-calendar-header);
  padding-bottom: var(--space-y-datepicker-calendar-header);
}

.datepicker .datepicker-calendar .datepicker-calendar-header .datepicker-calendar-header-days {
  color: var(--color-datepicker-calendar-header-days);
  display: flex;
  font-size: var(--size-datepicker-calendar-header-days);
  justify-content: space-around;
  weight: var(--weight-datepicker-calendar-header-days);
}

.datepicker .datepicker-calendar .datepicker-calendar-day {
  align-items: center;
  background: none;
  color: var(--color-datepicker-calendar-day);
  cursor: pointer;
  display: flex;
  font-size: var(--size-datepicker-calendar-day);
  font-weight: var(--weight-datepicker-calendar-day);
  height: auto;
  justify-content: center;
  padding: var(--space-y-datepicker-calendar-day);
  position: relative;
  text-align: center;
  transition: all ease-in-out;
  width: 14.28%;
}

.datepicker .datepicker-calendar .datepicker-calendar-day span {
  position: relative;
  z-index: 2;
}

.datepicker .datepicker-calendar .datepicker-calendar-day::before {
  background: var(--background-calendar);
  border-radius: 32px;
  content: "";
  display: block;
  height: 32px;
  left: auto;
  position: absolute;
  right: auto;
  transition: all ease-in-out;
  width: 32px;
  z-index: 1;
}

.datepicker .datepicker-calendar .datepicker-calendar-day:hover {
  color: var(--color-datepicker-calendar-day-hover);
}

.datepicker .datepicker-calendar .datepicker-calendar-day:hover::before {
  background: var(--background-datepicker-calendar-day-hover);
}

.datepicker .datepicker-calendar .datepicker-calendar-day.visible {
  color: var(--color-datepicker-calendar-day-active);
}

.datepicker .datepicker-calendar .datepicker-calendar-day.visible::before {
  background: var(--background-datepicker-calendar-day-active);
}

.datepicker .datepicker-calendar .datepicker-calendar-day:not(.datepicker-calendar-day-29, .datepicker-calendar-day-30, .datepicker-calendar-day-31, .datepicker-calendar-day-28:last-child) {
  border-bottom: var(--border-datepicker-calendar-day);
}

.datepicker .datepicker-calendar .datepicker-calendar-days {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.datepicker .datepicker-calendar.visible {
  display: block;
}

.select-multiselect-count {
  background: var(--background-multiselect);
  border-radius: var(--border-radius-multiselect);
  color: var(--color-multiselect);
  display: none;
  font-size: var(--size-multiselect);
  margin-left: var(--space-x-block-multiselect);
  padding: var(--space-y-multiselect-count) var(--space-x-multiselect-count);
}

.select-multiselect-count.visible {
  display: inline-block;
}

.select-multiselect {
  padding: var(--space-y-small-breakpoint-multiselect) var(--space-x-small-breakpoint-multiselect);
}

@media(min-width: 768px) {
  .select-multiselect {
    padding: var(--space-y-medium-breakpoint-multiselect) var(--space-x-medium-breakpoint-multiselect);
  }
}

@media(min-width: 1200px) {
  .select-multiselect {
    padding: var(--space-y-large-breakpoint-multiselect) var(--space-x-large-breakpoint-multiselect);
  }
}

.form-submit {
  margin-top: var(--space-y-submit);
}