.pricing {
  margin-left: var(--space-x-small-breakpoint-container);
  margin-right: var(--space-x-small-breakpoint-container);
  position: relative;

  @media (width >= 768px) {
    margin-left: var(--space-x-medium-breakpoint-container);
    margin-right: var(--space-x-medium-breakpoint-container);
  }

  @media (width >= 992px) {
    margin-left: var(--space-x-large-breakpoint-container);
    margin-right: var(--space-x-large-breakpoint-container);
    max-width: var(--max-width-container-large);
  }

  @media (width >= 1200px) {
    max-width: var(--max-width-container-extralarge);
  }

  @media (width >= 1300px) {
    margin-left: auto;
    margin-right: auto;
  }

  .pricing-inner {
    .pricing-item {
      background: var(--background-pricing);
      border-color: var(--border-color-pricing);
      border-radius: var(--border-radius-pricing);
      border-style: solid;
      border-width: var(--border-width-pricing);
      box-shadow: 0 0 var(--size-pricing-item-shadow) -4px var(--color-pricing-item-shadow);
      display: flex;
      flex-direction: column;
      padding: var(--space-y-small-breakpoint-pricing) var(--space-x-small-breakpoint-pricing);
      position: relative;

      @media (width >= 768px) {
        padding: var(--space-y-medium-breakpoint-pricing) var(--space-x-medium-breakpoint-pricing);
      }

      @media (width >= 992px) {
        padding: var(--space-y-large-breakpoint-pricing) var(--space-x-large-breakpoint-pricing);
      }
    }
    .pricing-title {
      align-items: var(--horizontal-alignment-pricing-item);
      text-align: var(--horizontal-alignment-pricing-item);

      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6,
      & span {
        color: var(--color-pricing-title);
        display: block;
        font-family: var(--font-text);
        font-size: var(--size-small-breakpoint-pricing-title);
        font-weight: var(--weight-pricing-title);
        line-height: var(--line-height-small-breakpoint-pricing-title);
        margin-bottom: var(--space-y-block-small-breakpoint-pricing-title);
        transition: all 0.4s ease;

        @media (width >= 768px) {
          font-size: var(--size-medium-breakpoint-pricing-title);
          line-height: var(--line-height-medium-breakpoint-pricing-title);
          margin-bottom: var(--space-y-block-medium-breakpoint-pricing-title);
        }

        @media (width >= 992px) {
          font-size: var(--size-large-breakpoint-pricing-title);
          line-height: var(--line-height-large-breakpoint-pricing-title);
          margin-bottom: var(--space-y-block-large-breakpoint-pricing-title);
        }
      }
    }

    .pricing-description {
      align-items: var(--horizontal-alignment-pricing-item);
      color: var(--color-pricing-description);
      display: block;
      font-family: var(--font-text);
      font-size: var(--size-small-breakpoint-pricing-description);
      font-weight: var(--weight-pricing-description);
      line-height: var(--line-height-small-breakpoint-pricing-description);
      margin-bottom: var(--space-y-block-small-breakpoint-pricing-description);
      text-align: var(--horizontal-alignment-pricing-item);
      transition: all 0.4s ease;

      @media (width >= 768px) {
        font-size: var(--size-medium-breakpoint-pricing-description);
        line-height: var(--line-height-medium-breakpoint-pricing-description);
        margin-bottom: var(--space-y-block-medium-breakpoint-pricing-description);
      }

      @media (width >= 992px) {
        font-size: var(--size-large-breakpoint-pricing-description);
        line-height: var(--line-height-large-breakpoint-pricing-description);
        margin-bottom: var(--space-y-block-large-breakpoint-pricing-description);
      }
    }

    .pricing-price {
      align-items: var(--horizontal-alignment-pricing-item);
      color: var(--color-pricing-price);
      display: block;
      font-family: var(--font-text);
      font-size: var(--size-small-breakpoint-pricing-price);
      font-weight: var(--weight-pricing-price);
      line-height: var(--line-height-small-breakpoint-pricing-price);
      margin-bottom: var(--space-y-block-small-breakpoint-pricing-price);
      text-align: var(--horizontal-alignment-pricing-item);
      transition: all 0.4s ease;

      @media (width >= 768px) {
        font-size: var(--size-medium-breakpoint-pricing-price);
        line-height: var(--line-height-medium-breakpoint-pricing-price);
        margin-bottom: var(--space-y-block-medium-breakpoint-pricing-price);
      }

      @media (width >= 992px) {
        font-size: var(--size-large-breakpoint-pricing-price);
        line-height: var(--line-height-large-breakpoint-pricing-price);
        margin-bottom: var(--space-y-block-large-breakpoint-pricing-price);
      }
    }

    .pricing-features {
      display: block;
      font-family: var (--font-text);
      transition: all 0.4s ease;

      & ul li {
        align-items: center;
        color: var(--color-pricing-features);
        column-gap: var(--gap-pricing-features);
        display: flex;
        font-size: var(--size-small-breakpoint-pricing-features);
        font-weight: var(--weight-pricing-features);
        line-height: var(--line-height-small-breakpoint-pricing-features);
        margin-bottom: var(--space-y-block-small-breakpoint-pricing-features);

        @media (width >= 768px) {
          font-size: var(--size-medium-breakpoint-pricing-features);
          line-height: var(--line-height-medium-breakpoint-pricing-features);
          margin-bottom: var(--space-y-block-medium-breakpoint-pricing-features);
        }

        @media (width >= 992px) {
          font-size: var(--size-large-breakpoint-pricing-features);
          line-height: var(--line-height-large-breakpoint-pricing-features);
          margin-bottom: var(--space-y-block-large-breakpoint-pricing-features);
        }
      }

      .pricing-features-icon {
        align-items: center;
        background: var(--background-pricing-features-icon-background);
        border-radius: var(--border-radius-pricing-features-icon-background);
        display: flex;
        height: var(--size-pricing-features-icon-background);
        justify-content: center;
        width: var(--size-pricing-features-icon-background);

        & svg {
          color: var(--color-pricing-features-icon);
          height: auto;
          width: var(--size-small-breakpoint-pricing-features-icon);

          @media (width >= 768px) {
            width: var(--size-medium-breakpoint-pricing-features-icon);
          }

          @media (width >= 992px) {
            width: var(--size-large-breakpoint-pricing-features-icon);
          }
        }
      }
    }

    .pricing-button {
      margin-top: var(--space-y-block-small-breakpoint-pricing-button);

      @media (width >= 768px) {
        margin-top: var(--space-y-block-medium-breakpoint-pricing-button);
      }

      @media (width >= 992px) {
        margin-top: var(--space-y-block-large-breakpoint-pricing-button);
      }
    }
  }

  .pricing-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;

    @media (width >= 992px) {
      flex-direction: row;
      gap: var(--gap-pricing-grid);
    }

    .pricing-item {
      margin-bottom: var(--space-y-block-small-breakpoint-pricing-item);

      @media (width <= 991.98px) {
        &:last-child {
          margin-bottom: 0;
        }
      }

      @media (width >= 768px) {
        margin-bottom: var(--space-y-block-medium-breakpoint-pricing-item);
      }

      @media (width >= 992px) {
        flex: 1 0 calc(33.33333% - var(--gap-pricing-grid));
        margin-bottom: var(--space-y-block-large-breakpoint-pricing-item);
        max-width: calc(33.33333% - var(--gap-pricing-grid) / 3 * 2);
        width: auto;
      }
    }

    &.pricing-grid--2 {
      .pricing-item {
        @media (width >= 992px) {
          flex: 1 0 calc(50% - var(--gap-pricing-grid));
          max-width: calc(50% - var(--gap-pricing-grid) / 2 * 1);
          width: auto;
        }
      }
    }

    &.pricing-grid--3 {
      .pricing-item {
        @media (width >= 992px) {
          flex: 1 0 calc(33.33333% - var(--gap-pricing-grid));
          max-width: calc(33.33333% - var(--gap-pricing-grid) / 3 * 2);
          width: auto;
        }
      }
    }
  }
}
