.product {
  .product-inner {
    display: flex;
    column-gap: 72px;
    max-width: var(--max-width-container-extralarge);
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 20px;
    @media (width >= 992px) {
      flex-direction: row;
      padding: 4.25rem 20px;
    }
    .product-image {
      flex-grow: 1;
      flex-basis: calc(60% - 60px);
      margin-bottom: 2.5rem;
      @media (width >= 992px) {
        margin-bottom: 0;
      }

      & img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
      .product-image-secondary {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 1.25rem;
        column-gap: 20px;
        row-gap: 20px;
        & img {
          flex: 1;
          cursor: pointer;
          max-width: calc(32.777% - 10px);
        }
      }
    }
    .product-content {
      margin-left: auto;
      flex-basis: calc(40% - 15px);
      .product-title {
        font-weight: var(--weight-medium);
        font-size: 34px;
        margin-bottom: 0.625rem;
      }
      .product-price {
        font-weight: var(--weight-bold);
        font-size: 26px;
        margin-bottom: 0.625rem;
        margin-top: 1.5625rem;
      }
      .product-delivery {
        margin-top: 30px;
        font-size: 0.875rem;
        color: var(--neutral-600);
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid var(--neutral-200);
        padding-bottom: 1.25rem;
        &::before {
          background: var(--green-500);
          content: '';
          display: block;
          width: 15px;
          height: 13px;
          mask-repeat: no-repeat;
          mask-position: center;
          mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
      .product-rating {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 1.25rem;
        cursor: pointer;
        .product-rating-score {
          font-size: 0.75rem;
          color: var(--neutral-600);
        }
        .product-rating-stars {
          display: flex;
          column-gap: 3px;
          & svg {
            color: #fd7e14;
            fill: #fd7e14;
            width: 16px;
            height: 16px;
          }
        }
      }
      .product-description {
        font-size: 1rem;
        line-height: 150%;
        color: var(--neutral-600);
        padding-right: 1.5625rem;
      }
      .product-variant {
        margin-top: 1.875rem;
        .product-variant-item {
          .product-variant-title {
            font-size: 0.875rem;
            font-weight: var(--weight-medium);
            margin-bottom: 0.625rem;
          }
          &:not(:first-child) {
            margin-top: 2.5rem;
          }

          & button {
            border: 1px solid var(--neutral-300);
            padding: 10px 15px;
            border-radius: 4px;
            color: var(--neutral-900);
            font-weight: var(--weight-medium);
            cursor: pointer;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            text-align: center;
            font-size: 14px;
            flex-basis: 1;

            &[disabled] {
              color: var(--neutral-500);
              border-color: var(--neutral-100);
              cursor: not-allowed;
              position: relative;
              box-shadow: none;
              color: var(--neutral-300);
            }
            &.active {
              border-color: var(--neutral-500);
            }
          }

          .product-variant-selector {
            display: flex;
            column-gap: 15px;
            row-gap: 15px;
            flex-wrap: wrap;
            padding-right: 1.25rem;
            max-width: 470px;
          }

          .product-variant-guide {
            font-size: 0.875rem;
            color: var(--neutral-700);
            margin-top: 1.25rem;
            & a {
              display: flex;
              align-items: center;
              column-gap: 8px;
            }
            & svg {
              width: 18px;
              color: var(--neutral-700);
            }
          }
        }
      }
      .product-add-to-cart {
        margin-top: 2.8125rem;
        margin-bottom: 2.1875rem;
        display: flex;
        flex-direction: column;
        & button {
          &[data-add-to-cart-button] {
            border-style: solid;
            padding: 0.9375rem 2.5rem;
            color: white;
            background: var(--primary);
            border-width: 1px 1px 1px 0;
            border-radius: 4px;
            border-color: var(--accent-400);
            cursor: pointer;
            text-align: center;
            font-weight: var(--weight-medium);
          }
          &:disabled {
            background: var(--neutral-200);
            color: var(--neutral-500);
            border-color: var(--neutral-300);
            cursor: not-allowed;
          }
        }
        .product-quantity {
          background: var(--neutral-50);
          display: flex;
          border-radius: 4px;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          height: 52px;
          margin-bottom: 10px;
          .product-quantity-plus,
          .product-quantity-minus {
            padding: 12px 16px;
            cursor: pointer;
            &::after {
              content: '';
              display: block;
              background-color: var(--neutral-900);
              mask-repeat: no-repeat;
              mask-position: center;
              mask-size: 12px;
              width: 12px;
              height: 12px;
            }
          }
          .product-quantity-plus {
            &::after {
              mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1V15M1 8H15' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }
          .product-quantity-minus {
            &::after {
              mask-image: url("data:image/svg+xml,%3Csvg width='16' height='2' viewBox='0 0 16 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H15' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }
          .product-quantity-input {
            width: 30px;
            padding: 0.375rem 0.3125rem;
            font-size: 16px;
            margin: auto;
            font-weight: var(--weight-bold);
            text-align: center;
          }
        }
      }
    }
  }
}
