.product {
  margin-left: var(--space-x-small-breakpoint-container);
  margin-right: var(--space-x-small-breakpoint-container);

  @media (width >= 768px) {
    margin-left: var(--space-x-medium-breakpoint-container);
    margin-right: var(--space-x-medium-breakpoint-container);
  }

  @media (width >= 992px) {
    margin-left: var(--space-x-large-breakpoint-container);
    margin-right: var(--space-x-large-breakpoint-container);
    max-width: var(--max-width-container-large);
  }

  @media (width >= 1200px) {
    max-width: var(--max-width-container-extralarge);
  }

  @media (width >= 1300px) {
    margin-left: auto;
    margin-right: auto;
  }

  .product-inner {
    column-gap: var(--gap-product);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    @media (width >=992px) {
      flex-direction: row;
    }

    .product-image {
      flex-basis: calc(var(--max-width-product-image) - var(--gap-product));
      flex-grow: 1;
      margin-bottom: var(--space-y-block-small-breakpoint-product-image);
      min-width: calc(var(--max-width-product-image) - var(--gap-product));

      @media (width >=992px) {
        margin-bottom: var(--space-y-block-large-breakpoint-product-image);
      }

      & img {
        border-radius: var(--border-radius-product-image);
        display: flex;
      }
    }

    .product-content {
      flex-grow: 1;
      margin-left: auto;

      .product-title {
        color: var(--color-product-title);
        font-size: var(--size-small-breakpoint-product-title);
        font-weight: var(--weight-product-title);
        line-height: var(--line-height-small-breakpoint-product-title);

        @media (width >= 768px) {
          font-size: var(--size-medium-breakpoint-product-title);
          line-height: var(--line-height-medium-breakpoint-product-title);
        }

        @media (width >= 992px) {
          font-size: var(--size-large-breakpoint-product-title);
          line-height: var(--line-height-large-breakpoint-product-title);
        }
      }

      .product-description {
        color: var(--color-product-description);
        font-size: var(--size-small-breakpoint-product-description);
        font-weight: var(--weight-product-description);
        line-height: var(--line-height-small-breakpoint-product-description);
        margin-top: var(--space-y-block-large-breakpoint-product-description);

        @media (width >= 768px) {
          font-size: var(--size-medium-breakpoint-product-description);
          line-height: var(--line-height-medium-breakpoint-product-description);
        }

        @media (width >= 992px) {
          font-size: var(--size-large-breakpoint-product-description);
          line-height: var(--line-height-large-breakpoint-product-description);
        }
      }

      .product-price {
        color: var(--color-product-price);
        font-size: var(--size-small-breakpoint-product-price);
        font-weight: var(--weight-product-price);
        margin-top: var(--space-y-block-large-breakpoint-product-price);

        @media (width >= 768px) {
          font-size: var(--size-medium-breakpoint-product-price);
        }

        @media (width >= 992px) {
          font-size: var(--size-large-breakpoint-product-price);
        }
      }

      .product-delivery {
        align-items: center;
        border-bottom-style: solid;
        border-color: var(--border-color-product-delivery);
        border-width: var(--border-width-product-delivery);
        color: var(--color-product-delivery);
        display: flex;
        font-size: var(--size-small-breakpoint-product-delivery);
        font-weight: var(--weight-product-delivery);
        gap: var(--gap-product-delivery);
        margin-top: var(--space-y-block-large-breakpoint-product-delivery);
        padding-bottom: var(--space-y-large-breakpoint-product-delivery);

        @media (width >= 768px) {
          font-size: var(--size-medium-breakpoint-product-delivery);
        }

        @media (width >= 992px) {
          font-size: var(--size-large-breakpoint-product-delivery);
        }

        &::before {
          background: var(--color-product-delivery-icon);
          content: '';
          display: block;
          height: var(--size-small-breakpoint-product-delivery-icon);
          mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          mask-position: center;
          mask-repeat: no-repeat;
          width: var(--size-small-breakpoint-product-delivery-icon);
        }

        @media (width >= 768px) {
          &::before {
            height: var(--size-medium-breakpoint-product-delivery-icon);
            width: var(--size-medium-breakpoint-product-delivery-icon);
          }
        }

        @media (width >= 992px) {
          &::before {
            height: var(--size-large-breakpoint-product-delivery-icon);
            width: var(--size-large-breakpoint-product-delivery-icon);
          }
        }
      }

      .product-rating {
        align-items: center;
        column-gap: var(--gap-product-rating);
        cursor: pointer;
        display: flex;
        margin-top: var(--space-y-block-large-breakpoint-product-rating);

        .product-rating-score {
          color: var(--color-product-ratings-count);
          font-size: var(--size-small-breakpoint-product-rating-score);

          @media (width >= 768px) {
            font-size: var(--size-medium-breakpoint-product-rating-score);
          }

          @media (width >= 992px) {
            font-size: var(--size-large-breakpoint-product-rating-score);
          }
        }

        .product-rating-stars {
          column-gap: var(--gap-product-rating-stars);
          display: flex;

          & svg {
            color: var(--color-product-ratings);
            fill: var(--color-product-ratings);
            height: var(--size-small-breakpoint-product-rating-star);
            width: var(--size-small-breakpoint-product-rating-star);

            @media (width >= 768px) {
              height: var(--size-medium-breakpoint-product-rating-star);
              width: var(--size-medium-breakpoint-product-rating-star);
            }

            @media (width >= 992px) {
              height: var(--size-large-breakpoint-product-rating-star);
              width: var(--size-large-breakpoint-product-rating-star);
            }
          }
        }
      }

      .product-variant {
        margin-top: var(--space-y-block-large-breakpoint-product-variant);

        .product-variant-item {
          .product-variant-title {
            font-size: var(--size-small-breakpoint-product-variant-title);
            font-weight: var(--weight-product-variant-title);
            margin-bottom: var(--space-y-block-large-breakpoint-product-variant-title);

            @media (width >= 768px) {
              font-size: var(--size-medium-breakpoint-product-variant-title);
            }

            @media (width >= 992px) {
              font-size: var(--size-large-breakpoint-product-variant-title);
            }
          }

          &:not(:first-child) {
            margin-top: var(--space-y-block-large-breakpoint-product-variant-item);
          }

          .product-variant-selector {
            column-gap: var(--gap-product-variant-selector);
            display: flex;
            flex-wrap: wrap;
            row-gap: var(--gap-product-variant-selector);

            & button {
              background: var(--background-product-variant-selector);
              border-color: var(--border-color-product-variant-selector);
              border-radius: var(--border-radius-product-variant-selector);
              border-style: solid;
              border-width: var(--border-width-product-variant-selector);
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
              color: var(--color-product-variant-selector);
              cursor: pointer;
              flex-basis: 1;
              font-size: var(--size-small-breakpoint-product-variant-selector);
              font-weight: var(--weight-product-variant-selector);
              padding: var(--space-y-large-breakpoint-product-variant-selector)
                var(--space-x-large-breakpoint-product-variant-selector);
              text-align: center;

              @media (width >= 768px) {
                font-size: var(--size-medium-breakpoint-product-variant-selector);
              }
              @media (width >= 992px) {
                font-size: var(--size-large-breakpoint-product-variant-selector);
              }

              &[disabled] {
                cursor: not-allowed;
              }

              &.active {
                border-color: var(--border-color-product-variant-selector-active);
              }
            }
          }
          .product-color-selector {
            column-gap: var(--gap-product-variant-selector);
            display: flex;
            flex-wrap: wrap;
            row-gap: var(--gap-product-variant-selector);

            & button {
              align-items: center;
              border-color: var(--border-color-product-color-selector);
              border-radius: var(--border-radius-product-color-selector);
              border-style: solid;
              border-width: var(--border-width-product-color-selector);
              cursor: pointer;
              display: flex;
              font-size: 0;
              height: var(--size-small-breakpoint-product-color-selector);
              justify-content: center;
              width: var(--size-small-breakpoint-product-color-selector);

              @media (width >= 768px) {
                height: var(--size-medium-breakpoint-product-color-selector);
                width: var(--size-medium-breakpoint-product-color-selector);
              }

              @media (width >= 992px) {
                height: var(--size-large-breakpoint-product-color-selector);
                width: var(--size-large-breakpoint-product-color-selector);
              }

              &.active {
                border-color: var(--border-color-product-color-selector-active);
                outline: var(--width-outline-product-color-selector) solid
                  var(--color-outline-product-color-selector);
              }
            }
          }
        }
      }

      .product-add-to-cart {
        display: flex;
        flex-direction: column;
        margin-top: var(--space-y-block-large-breakpoint-product-add-to-cart);

        .product-submit-to-cart {
          min-height: 52px;
        }

        .product-quantity {
          align-items: center;
          background: var(--background-product-quantity);
          border-radius: var(--border-radius-button);
          display: flex;
          flex-wrap: wrap;
          height: 52px;
          justify-content: center;
          margin-bottom: var(--space-y-block-large-breakpoint-product-quantity);
          width: 100%;

          .product-quantity-plus,
          .product-quantity-minus {
            cursor: pointer;
            padding: var(--space-y-small-breakpoint-product-quantity-button)
              var(--space-x-small-breakpoint-product-quantity-button);

            &::after {
              background-color: var(--color-product-quantity-button);
              content: '';
              display: block;
              height: var(--size-small-breakpoint-product-quantity-button);
              mask-position: center;
              mask-repeat: no-repeat;
              mask-size: var(--size-small-breakpoint-product-quantity-button);
              width: var(--size-small-breakpoint-product-quantity-button);
            }

            @media (width >= 768px) {
              padding: var(--space-y-medium-breakpoint-product-quantity-button)
                var(--space-x-medium-breakpoint-product-quantity-button);
              &::after {
                height: var(--size-medium-breakpoint-product-quantity-button);
                mask-size: var(--size-medium-breakpoint-product-quantity-button);
                width: var(--size-medium-breakpoint-product-quantity-button);
              }
            }

            @media (width >= 992px) {
              padding: var(--space-y-large-breakpoint-product-quantity-button)
                var(--space-x-large-breakpoint-product-quantity-button);
              &::after {
                height: var(--size-large-breakpoint-product-quantity-button);
                mask-size: var(--size-large-breakpoint-product-quantity-button);
                width: var(--size-large-breakpoint-product-quantity-button);
              }
            }
          }

          .product-quantity-plus {
            &::after {
              mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1V15M1 8H15' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }

          .product-quantity-minus {
            &::after {
              mask-image: url("data:image/svg+xml,%3Csvg width='16' height='2' viewBox='0 0 16 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H15' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
          }

          .product-quantity-input {
            font-size: var(--size-small-breakpoint-product-quantity-input);
            font-weight: var(--weight-product-quantity-input);
            margin: auto;
            text-align: center;
            width: auto;

            @media (width >= 768px) {
              font-size: var(--size-medium-breakpoint-product-quantity-input);
            }

            @media (width >= 992px) {
              font-size: var(--size-large-breakpoint-product-quantity-input);
            }
          }
        }
      }
    }
  }
}
