.testimonial {
  background: var(--background-testimonial);
  border-color: var(--border-color-testimonial);
  border-radius: var(--border-radius-testimonial);
  border-style: solid;
  border-width: var(--border-width-testimonial);
  margin-left: var(--space-x-small-breakpoint-container);
  margin-right: var(--space-x-small-breakpoint-container);
  overflow: hidden;
  position: relative;
}
@media (width >= 768px) {
  .testimonial {
    margin: 0 var(--space-x-medium-breakpoint-container) 0
      var(--space-x-medium-breakpoint-container);
  }
}
@media (width >= 992px) {
  .testimonial {
    margin-left: var(--space-x-large-breakpoint-container);
    margin-right: var(--space-x-large-breakpoint-container);
    max-width: var(--max-width-container-large);
  }
}
@media (width >= 1200px) {
  .testimonial {
    max-width: var(--max-width-container-extralarge);
  }
}
.testimonial .testimonial-inner {
  align-items: var(--horizontal-alignment-testimonial);
  column-gap: var(--column-gap-testimonial);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--space-y-small-breakpoint-testimonial) var(--space-x-small-breakpoint-testimonial);
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .testimonial .testimonial-inner {
    padding: var(--space-y-medium-breakpoint-testimonial)
      var(--space-x-medium-breakpoint-testimonial);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-inner {
    padding: var(--space-y-large-breakpoint-testimonial) var(--space-x-large-breakpoint-testimonial);
  }
}
.testimonial .testimonial-logo {
  margin-bottom: var(--space-y-block-small-breakpoint-testimonial-logo);
}
.testimonial .testimonial-logo img,
.testimonial .testimonial-logo svg {
  height: auto;
  width: var(--size-small-breakpoint-testimonial-logo);
}
@media (min-width: 768px) {
  .testimonial .testimonial-logo img,
  .testimonial .testimonial-logo svg {
    width: var(--size-medium-breakpoint-testimonial-logo);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-logo img,
  .testimonial .testimonial-logo svg {
    width: var(--size-large-breakpoint-testimonial-logo);
  }
}
@media (min-width: 768px) {
  .testimonial .testimonial-logo {
    margin-bottom: var(--space-y-block-medium-breakpoint-testimonial-logo);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-logo {
    margin-bottom: var(--space-y-block-large-breakpoint-testimonial-logo);
  }
}
.testimonial .testimonial-text {
  text-align: var(--horizontal-alignment-testimonial);
}
.testimonial .testimonial-text h1,
.testimonial .testimonial-text h2,
.testimonial .testimonial-text h3,
.testimonial .testimonial-text h4,
.testimonial .testimonial-text h5,
.testimonial .testimonial-text h6,
.testimonial .testimonial-text span {
  color: var(--color-testimonial-text);
  display: block;
  font-family: var(--font-text);
  font-family: var(--font-text);
  font-size: var(--size-small-breakpoint-testimonial-text);
  font-weight: var(--weight-testimonial-text);
  line-height: var(--line-height-small-breakpoint-testimonial-text);
  margin-bottom: var(--space-y-block-small-breakpoint-testimonial-text);
  text-align: var(--horizontal-alignment-testimonial-name);
}
@media (min-width: 768px) {
  .testimonial .testimonial-text h1,
  .testimonial .testimonial-text h2,
  .testimonial .testimonial-text h3,
  .testimonial .testimonial-text h4,
  .testimonial .testimonial-text h5,
  .testimonial .testimonial-text h6,
  .testimonial .testimonial-text span {
    line-height: var(--line-height-medium-breakpoint-testimonial-text);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-text h1,
  .testimonial .testimonial-text h2,
  .testimonial .testimonial-text h3,
  .testimonial .testimonial-text h4,
  .testimonial .testimonial-text h5,
  .testimonial .testimonial-text h6,
  .testimonial .testimonial-text span {
    line-height: var(--line-height-large-breakpoint-testimonial-text);
  }
}
@media (min-width: 768px) {
  .testimonial .testimonial-text h1,
  .testimonial .testimonial-text h2,
  .testimonial .testimonial-text h3,
  .testimonial .testimonial-text h4,
  .testimonial .testimonial-text h5,
  .testimonial .testimonial-text h6,
  .testimonial .testimonial-text span {
    font-size: var(--size-medium-breakpoint-testimonial-text);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-text h1,
  .testimonial .testimonial-text h2,
  .testimonial .testimonial-text h3,
  .testimonial .testimonial-text h4,
  .testimonial .testimonial-text h5,
  .testimonial .testimonial-text h6,
  .testimonial .testimonial-text span {
    font-size: var(--size-large-breakpoint-testimonial-text);
  }
}
@media (min-width: 768px) {
  .testimonial .testimonial-text h1,
  .testimonial .testimonial-text h2,
  .testimonial .testimonial-text h3,
  .testimonial .testimonial-text h4,
  .testimonial .testimonial-text h5,
  .testimonial .testimonial-text h6,
  .testimonial .testimonial-text span {
    margin-bottom: var(--space-y-block-medium-breakpoint-testimonial-text);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-text h1,
  .testimonial .testimonial-text h2,
  .testimonial .testimonial-text h3,
  .testimonial .testimonial-text h4,
  .testimonial .testimonial-text h5,
  .testimonial .testimonial-text h6,
  .testimonial .testimonial-text span {
    margin-bottom: var(--space-y-block-large-breakpoint-testimonial-text);
  }
}
.testimonial .testimonial-name h1,
.testimonial .testimonial-name h2,
.testimonial .testimonial-name h3,
.testimonial .testimonial-name h4,
.testimonial .testimonial-name h5,
.testimonial .testimonial-name h6,
.testimonial .testimonial-name span {
  color: var(--color-testimonial-name);
  display: block;
  font-family: var(--font-text);
  font-family: var(--font-text);
  font-size: var(--size-small-breakpoint-testimonial-name);
  font-weight: var(--weight-testimonial-name);
  line-height: var(--line-height-small-breakpoint-testimonial-name);
  margin-bottom: var(--space-y-block-small-breakpoint-testimonial-name);
  text-align: var(--horizontal-alignment-testimonial-name);
}
@media (min-width: 768px) {
  .testimonial .testimonial-name h1,
  .testimonial .testimonial-name h2,
  .testimonial .testimonial-name h3,
  .testimonial .testimonial-name h4,
  .testimonial .testimonial-name h5,
  .testimonial .testimonial-name h6,
  .testimonial .testimonial-name span {
    line-height: var(--line-height-medium-breakpoint-testimonial-name);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-name h1,
  .testimonial .testimonial-name h2,
  .testimonial .testimonial-name h3,
  .testimonial .testimonial-name h4,
  .testimonial .testimonial-name h5,
  .testimonial .testimonial-name h6,
  .testimonial .testimonial-name span {
    line-height: var(--line-height-large-breakpoint-testimonial-name);
  }
}
@media (min-width: 768px) {
  .testimonial .testimonial-name h1,
  .testimonial .testimonial-name h2,
  .testimonial .testimonial-name h3,
  .testimonial .testimonial-name h4,
  .testimonial .testimonial-name h5,
  .testimonial .testimonial-name h6,
  .testimonial .testimonial-name span {
    font-size: var(--size-medium-breakpoint-testimonial-name);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-name h1,
  .testimonial .testimonial-name h2,
  .testimonial .testimonial-name h3,
  .testimonial .testimonial-name h4,
  .testimonial .testimonial-name h5,
  .testimonial .testimonial-name h6,
  .testimonial .testimonial-name span {
    font-size: var(--size-large-breakpoint-testimonial-name);
  }
}
@media (min-width: 768px) {
  .testimonial .testimonial-name h1,
  .testimonial .testimonial-name h2,
  .testimonial .testimonial-name h3,
  .testimonial .testimonial-name h4,
  .testimonial .testimonial-name h5,
  .testimonial .testimonial-name h6,
  .testimonial .testimonial-name span {
    margin-bottom: var(--space-y-block-medium-breakpoint-testimonial-name);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-name h1,
  .testimonial .testimonial-name h2,
  .testimonial .testimonial-name h3,
  .testimonial .testimonial-name h4,
  .testimonial .testimonial-name h5,
  .testimonial .testimonial-name h6,
  .testimonial .testimonial-name span {
    margin-bottom: var(--space-y-block-large-breakpoint-testimonial-name);
  }
}
.testimonial .testimonial-function {
  text-align: var(--horizontal-alignment-testimonial-function);
}
.testimonial .testimonial-function p {
  color: var(--color-testimonial-function);
  font-size: var(--size-small-breakpoint-testimonial-function);
  font-weight: var(--weight-testimonial-function);
  line-height: var(--line-height-small-breakpoint-testimonial-function);
}
@media (min-width: 768px) {
  .testimonial .testimonial-function p {
    line-height: var(--line-height-medium-breakpoint-testimonial-function);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-function p {
    line-height: var(--line-height-large-breakpoint-testimonial-function);
  }
}
@media (min-width: 768px) {
  .testimonial .testimonial-function p {
    font-size: var(--size-medium-breakpoint-testimonial-function);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-function p {
    font-size: var(--size-large-breakpoint-testimonial-function);
  }
}
.testimonial .testimonial-image {
  height: auto;
  margin-bottom: var(--space-y-block-small-breakpoint-testimonial-image);
  width: var(--size-small-breakpoint-testimonial-image);
}
@media (min-width: 768px) {
  .testimonial .testimonial-image {
    width: var(--size-medium-breakpoint-testimonial-image);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-image {
    width: var(--size-large-breakpoint-testimonial-image);
  }
}
@media (min-width: 768px) {
  .testimonial .testimonial-image {
    margin-bottom: var(--space-y-block-medium-breakpoint-testimonial-image);
  }
}
@media (min-width: 992px) {
  .testimonial .testimonial-image {
    margin-bottom: var(--space-y-block-large-breakpoint-testimonial-image);
  }
}
.testimonial .testimonial-image img {
  border-radius: var(--border-radius-testimonial-image);
  height: auto;
  width: 100%;
}
.testimonial .testimonial-background-image {
  -webkit-filter: blur(50px);
  filter: blur(50px);
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 1;
}
.testimonial .testimonial-background-image img,
.testimonial .testimonial-background-image svg {
  height: 100%;
  width: 100%;
}
